vendor 
metadatos_compilados 
docker-data 
docker.env 
entorno_toba.env 
*.iml 
.log.git 
composer.lock 
nbproject/* 
.idea 
jasper/*.pdf 
jasper/*/*.pdf 
temp/* 
datos-ireport 
bin/arai-cli 
bin/jsonlint 
bin/php-cs-fixer 
bin/phpunit 
bin/toba 
bin/validate-json 
bin/phinx 
instalador.log 
instalacion 
instalador.env 
www/temp/*


