###### CONFIG DEL INSTALADR ######
#INSTALADOR_TIMEOUT="1200"

ENTORNO_PRODUCCION="0"

###### CONFIG DE BASE DE DATOS DE NEGOCIO ######
PROYECTO_DB_HOST="localhost"
PROYECTO_DB_PORT="5432"
PROYECTO_DB_DBNAME="db_name"
PROYECTO_DB_USERNAME="postgres"
PROYECTO_DB_PASSWORD="postgres"
PROYECTO_DB_SCHEMA="public"
PROYECTO_DB_ENCODING="LATIN1"

###### CONFIG DE BASE DE DATOS DE TOBA ######
#TOBA_DB_HOST="localhost"
#TOBA_DB_PORT="5432"
#TOBA_DB_DBNAME="db_toba"
#TOBA_DB_USERNAME="postgres"
#TOBA_DB_PASSWORD="postgres"
#TOBA_DB_SCHEMA="public"
#TOBA_DB_ENCODING="LATIN1"

###### CONFIG DE TOBA ######
TOBA_URL_BASE="http://localhost"
#TOBA_URL_PORT="80"
TOBA_USUARIO="toba"
TOBA_PASSWORD="toba123*-a"
#TOBA_PROYECTO_DIR="/ruta/absoluta/al/proyecto"
#TOBA_INSTALACION_DIR="/ruta/absoluta/donde/instalar"
#TOBA_INSTALAR_USUARIOS=true
#TOBA_INSTALAR_EDITOR=true
#TOBA_INSTALAR_REFERENCIA=true
TOBA_ALIAS_PROYECTO="/sicd"
TOBA_ALIAS_NUCLEO="/toba_proyecto_sicd"
TOBA_ALIAS_TOBA_USUARIOS="/toba_usuarios_sicd"
TOBA_ALIAS_TOBA_EDITOR="/toba_editor_sicd"
#TOBA_ALIAS_TOBA_REFERENCIA="/toba_referencia_sicd"
TOBA_ID_DESARROLLADOR=106
TOBA_SESSION_NAME="TOBA_SICD"
#TOBA_FORZAR_HTTPS="off"
#TOBA_SALT=1nr4ng0-al3a7or10d3carac73r3$-93n14l
